.menu {
    outline: none;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

.hamburguesa {
    padding: 1.25rem;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    float: right;
    top: 0px;
}











/*CSS DEL MENU PRINCIPAL*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .9);;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    ul{
      padding: 0;
      margin: 4.5rem 0 0 0;
      list-style: none;
      align-items: center;
      justify-content: center;
      }
      li{
          text-align: center;
          padding: 0.75rem;
      }
}

.overlay a {
    padding: 8px;
    text-decoration: none;

    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {

    position: absolute;
    top: -30px;
    right: 5px;
    font-size: 60px;
}







.cerrar{
  padding: 1.37rem 1.75rem 1.37rem 1.75rem;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  float: right;
  top: 0px;
}


.cabecera {
    /*background: -webkit-linear-gradient(left, #A31CFF, #00C3FF);
    padding-bottom: 1.5rem;*/
    position: fixed;
    width: 100%;
}

#logo {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    font-size: 17px;
    display: inline-block;
}

.nombre {
    display: inline-block;
    padding-left: 0.5rem;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

#profesion {
    display: none;
}

.miga {
  padding-right: 1.5rem;
  padding-top: 6.5rem;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #fff;
  text-align: right;
}


.subrayado {
    border-bottom: 1px solid;
}

nav{
display: none;
}



@media (min-width: 600px) {



.miga {
  padding-right: 7.5rem;
  padding-top: 61px;
}

}



@media (min-width: 1025px) {

  .hamburguesa {
      display: none;
  }

  #logo {
    margin-top: 2.25rem;
    margin-left: 2.25rem;
  }

  #tamaño_logo{
    width: 45px;
    height: 45px;
  }

  #profesion{
    display: flex;
    position: static;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0.8rem;
    margin-top: 2.25rem;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 14px;

  }
  .nombre {
      display: flex;
      position: static;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      margin: 0.8rem;
      margin-top: 2.25rem;

  }
  .nombre div {
      padding-top: 0.8rem;
      font-size: 14px;
  }
  .desple{
    display: none;
  }
  nav {
      display: block;
      display: flex;
      float: right;
  }

  ul {
      display: flex;
      font-size: 15px;
      font-weight: 300;
      font-family: 'Roboto Mono', monospace;
      margin: 0px;
      padding: 0px;
  }

  nav ul li a {
      margin: 2.25rem 2.25rem 2.25rem 0;
      float: left;
      border-bottom: 1px solid transparent;
  }
  a:hover {
      border-bottom: 1px solid white;
  }


    a.sinsubrayado:hover {
        border-bottom: 0px;
    }


  .espacio{
    margin-right: 3rem;
  }
  .selec {
      border-bottom: 1px solid white;
  }
  .miga {
      display: none;
  }
}
