.info{
height: 100%;
display: flex;
justify-content: center;
text-align: center;
margin: 0;
padding-left: 0px;
flex-direction: column;
padding: 0 1.5rem 0 1.5rem;
}

.filete2 {
    align-content: center;
    position: absolute;
    top: 9rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 50%;
    transform: translatex(-50%);
    width: 87%;
    height: 27rem;
}


.desplazado {
  align-content: center;
    position: absolute;
    top: 9rem;
    background-color: rgba(255, 255, 255, 0.1);
    left: 50%;
    transform: translatex(-50%);
    width: 87%;
        height: 27.1rem;
}



@media (min-width: 600px) {


  .filete2 {
      align-content: center;
      position: absolute;
    top: 7.5rem;
      border: 1px solid rgba(255, 255, 255, 0.3);
      left: 50%;
      transform: translatex(-50%);
      width: 87%;
      height: 75%;
  }


  .desplazado {
    top: 7.5rem;
      height: 75%;
          transform: translate(-52%, 2%);
  }


.info{

padding: 0 3rem 0 3rem;
}


}


@media (min-width: 1025px) {

  .filete2{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 75%;
  }


  .desplazado {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 75%;
      transform: translateY(-47%) translatex(-53%);
  }



}
