
.scroll{
  align-content: center;
    position: relative;
    width: 87%;

}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border: 71px none #ffffff;
  border-radius: 31px;
}



::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .0);
  border: 65px none #ffffff;
  border-radius: 34px;
}

.numeropasador{
  display: none;
}

.numeropasador-2{
  display: none;
}

.dosmilnueve{
  position: relative;
  margin: 3rem 0rem 1rem 0rem;
}

.dosmilfinal{
  position: relative;
  margin: 3rem 0rem 0rem 0rem;
}

.fecha{
    color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

.blanquito{
  background-color: rgba(255,255,255,0.1);
  padding: 2em 1.5rem 1.5rem 1.5rem;
  width: 67%;
  float: right;
  margin-top: -1.3rem;
  p{
  margin-bottom: 0;
}
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.girado{
  writing-mode: vertical-lr;
  top: 50%;
  left: -4;
  transform: rotate(180deg) translateY(25%);
  position: absolute;
  margin: 0;

}

h6.girado{
  font-size: 14px;
}



@media (min-width: 600px) {


.scroll {
    align-content: center;
      position: absolute;
    top: 7.5rem;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.4);
    overflow-y: auto;
      left: 50%;
      transform: translatex(-50%);
      width: 73%;
      height: 75%;
  }



  .numeropasador {
    display: block;
    position: fixed;
      top: 50%;
      transform: translateY(-50%);
      right: 2.25rem;
      font-size: 30px;
          font-weight: 700;

      li {

                padding: 1rem 0 1rem 0;
      }

      a{
        color: rgba(0, 0, 0, 0.5);
      }
  }

  .numeropasador-2{
    display: none;

  }



  .fecha {
    font-size: 55px;
    margin-left: 4rem;
}

.blanquito {
    width: 60%;
    margin-right: 3.5rem;
}

.dosmilnueve{
  margin: 3rem 0rem 5rem 0rem;
}

.dosmilfinal{
  margin: 3rem 0rem 3rem 0rem;
}

}



@media (min-width: 1025px) {


  .scroll {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 65%;
    height: 75%;
  }

  .numeropasador{
    display: none;
  }

  .numeropasador-2 {
    display: block;
    position: fixed;
      top: 50%;
      transform: translateY(-50%);
      right: 2.25rem;
      font-size: 20px;
          font-weight: 700;

          li {

                    padding: 1rem 0 1rem 0;
          }

          a{
            color: rgba(0, 0, 0, 0.5);
          }
      }

  .ampliacion:hover{
    -webkit-transition:all .3s ease;
    transform: scale(2)
  }

      .blanquito {
        width: 40%;
        margin-right: 12.5rem;
        padding: 3em 2.5rem 2.5rem 2.5rem;
      }


    .fecha {
      font-size: 65px;
        margin-left: 18%;
  }

  .girado{
        margin-left: 12%;

  }
}
